@page "/cap-nhat-phan-mem"
@using IDC.Frontend.Services.ApiService
@using IDC.Shared.Models
@using SysMan.Components
@inject NotificationService notificationService
@inject NavigationManager UriHelper
@inject ApiServices apiService
@inject AuthenServices authenServices
@inject DialogService dialog


<style>
    .search-container {
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 6px;
        background-color: #f9f9f9;
        width: 100%; /* Đảm bảo chiều rộng bằng bảng */
    }

        .search-container .row {
            margin-bottom: 15px;
        }

    .search-button-group {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }
</style>


<TableAPI @ref=grd TItem="tbPhanMem" 
            TableTitle="DANH SÁCH PHẦN MỀM" 
            FormTitle="THÔNG TIN PHẦN MỀM" 
            OnDelete="@(args => Delete((tbPhanMem)args))" 
            OnAdd="@(args => Add((tbPhanMem)args))" 
            AddNew=true isSearch=true ShowClose=false
            OperationsSTTWidth="47px" 
            OperationColumnWidth="80px" Title="Thao tác">
    <AddMore>
        <div class="search-container">

            <!-- Hàng 1: ô tìm kiếm -->
            <div class="row">
                <div class="col-md-12">
                    <RadzenTextBox @bind-Value="@searchTenPhanMem"
                                   @onkeydown="SearchInputKeyPressed"
                                   Placeholder="Nhập tên phần mềm..."
                                   Style="width: 100%;" />
                </div>
            </div>

            <!-- Hàng nút -->
            <div class="search-button-group d-flex justify-content-end align-items-center gap-2"
                 style="margin-top: 15px;">

                <RadzenButton Icon="search"
                              ButtonStyle="ButtonStyle.Secondary"
                              Click="@SearchVoid"
                              Text="TÌM KIẾM"
                              Style="min-width: 130px; font-size: 16px;" />

                <RadzenButton Icon="close"
                              ButtonStyle="ButtonStyle.Success"
                              Click="@ResetVoid"
                              Text="LÀM MỚI"
                              Style="min-width: 130px; font-size: 16px;" />
            </div>
        </div>
        <div class="rows" style="margin-bottom:5px" />
    </AddMore>
    
    <MoreColumns>
        <RadzenDataGridColumn TItem="tbPhanMem" Title="Tên phần mềm" 
                TextAlign="TextAlign.Left" Sortable="false"
                Width="350px" Property="TenPhanMem">
            <Template Context="ctx">
                <WrapWord Data="@(ctx.TenPhanMem ?? string.Empty)" />
            </Template>
        </RadzenDataGridColumn>
    </MoreColumns>
    <FormDialog Context="ctx">
        <CapNhatPhanMem_Detail phanmem="ctx" />
    </FormDialog>
</TableAPI>

@code {
    TableAPI<tbPhanMem> grd;
    string query = default!;
    string lamda = null;

    // THÊM MỚI: Danh sách cho RadzenDropDown đơn vị phát hành
    // Biến cho các trường tìm kiếm
    string searchTenPhanMem = "";
    private int? ID;
    protected override async Task OnInitializedAsync()
    {
    }

    protected async Task Delete(tbPhanMem record)
    {
        string filter = $"IdPhanMem=={record.IdPhanMem}";
        await apiService.Delete<tbPhanMem>(filter);
        await grd.Refresh();
    }

    protected async Task Add(tbPhanMem record)
    {
        await grd.Refresh();
    }

    // Xử lý tìm kiếm từ các trường
    protected async Task SearchVoid()
    {
        List<string> conditions = new List<string>();


        if (!string.IsNullOrEmpty(searchTenPhanMem))
            conditions.Add($"p.TenTaiLieu.Contains(\"{searchTenPhanMem}\")");


        if (conditions.Any())
        {
            lamda = $"p => ({conditions})";
            //currentLamda = $"p => {string.Join(joinOperator, conditions)}";
        }

        grd.filter = lamda;
        await grd.Refresh();
    }

    // Xử lý reset
    protected async Task ResetVoid()
    {
        searchTenPhanMem = "";
        string permissionCondition = $"p.QuyenKhaiThac.Contains(\"|public|\") || p.QuyenKhaiThac.Contains(\"|{ID}|\")";
        lamda = $"p => {permissionCondition}";
        grd.filter = lamda;
        grd.Refresh();
    }

    // Xử lý phím Enter để tìm kiếm
    protected async Task SearchInputKeyPressed(KeyboardEventArgs args)
    {
        if (args.Key == "Enter" || args.Key == "NumpadEnter")
        {
            await SearchVoid();
        }
    }
}